.cell {
  margin: 10px;
  word-wrap: break-word
}

.cell.title {
  max-width: 300px;
}

.cell.body {
  max-width: 600px;
}

.form-control{
  width: 300px;
}

.remove_fields, .add_fields {
  font-size: 20px;
  color:#839496;
}